absl-py==2.2.2
altair==4.2.2
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
click==8.1.8
colorama==0.4.6
gitpython==3.1.44
google-auth==2.39.0
google-auth-oauthlib==0.4.6
h5py==3.13.0
ipykernel==6.29.5
ipython==8.18.1
Jinja2==3.1.6
joblib==1.4.2
keras==3.9.2
matplotlib==3.9.4
matplotlib-venn==1.1.2
numpy==2.0.2
pandas==2.2.2
plotly==5.21.0
protobuf==3.20.3
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
streamlit==1.22.0
tensorflow==2.18.0
tensorflow-estimator==2.11.0
watchdog==6.0.0
